
<h2 class="listing_title"><%= @auction.title %></h2>

Current top bid: $<%= number_with_delimiter(@auction.top_bid) %><br>

<%= form_for @bid do |f| %>
  <%= f.label :amount %>
  <%= f.number_field :amount %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :auction_id, :value => @auction.id %>
  <%= f.submit "Place Bid!" %>
<% end %>
