
<h2>Edit Auction</h2>

<%= form_for @auction do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br><br>
  <%= f.label :starting_bid %><br>
  <%= f.number_field :starting_bid %><br><br>
  <%= f.submit %>
<% end %>

<% if @auction.all_auction_bids.empty? %>
  <%= form_tag @auction, method: "delete" do %>
    <%= submit_tag "Remove Auction" %>
  <% end %>
<% end %>
