
<h2>Editing auction:</h2>

<%= form_for @listing do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  <%= f.submit %>
<% end %>

<h3>Edit vehicle information:</h3>

#tbd
