
<h1><%= @auction.title %></h1>


<h3>Description</h3>
<p><%= @auction.description %></p>

<h3>Auction Status: </h3>
<% if @auction.active %>
  <%= "Active - Ends: " %>
<% else %>
  <%= "Auction ended #{@auction.clean_datetime}" %><br>
  <% if !@auction.all_auction_bids.empty? %>
    Winner: <%= link_to @auction.auction_winner.username, user_path(@auction.auction_winner) %>
  <% end %>
<% end %>

<h3>Bid Amount: $<%= number_with_delimiter(@auction.top_bid) %></h3>

<h3>Bids Made: <%= @auction.all_auction_bids.size %></h3>


<table>
  <tr>
    <th>Bid Amount</th>
    <th>Buyer</th>
    <th>Time</th>
  </tr>
  <% if !@auction.all_auction_bids.empty? %>
    <% @auction.all_auction_bids.reverse.each do |bid| %>
      <tr>
        <td><%= bid.amount %></td>
        <td><%= bid.buyer.username %></td>
        <td><%= bid.clean_bid_time %></td>
      </tr>
    <% end %>
  <% else %>
    <%= "No bids made" %>
  <% end %>
</table>

<h3>Car information:</h3>

<ul>
  <li>Make: <%= @car.make %></li><br>
  <li>Model: <%= @car.model %></li><br>
  <li>Color: <%= @car.color %></li><br>
  <li>Year: <%= @car.year %></li><br>
  <li>Mileage: <%= number_with_delimiter(@car.mileage) %></li><br>
</ul>

<h4><%= link_to "Place Bid", bid_new_path %></h4>

<p>Seller: <%= link_to @auction.seller.username, @auction.seller %></p>

<p><%= link_to "End Auction", end_path %></p>

<%= link_to "Edit auction information", edit_auction_path(@auction) %>
