
<h2 class="listing_title"><%= @auction.title %></h2>

<p class="auction_description"><%= @auction.description %></p>

<% if @auction.active %>
  <div class="flashy_button">
    <%= link_to "Place Bid", bid_new_path %>
  </div>
<% end %>

<h3>This auction is
<% if @auction.active %>
  <%= " ACTIVE and ends: #{@auction.clean_datetime(@auction.end_time)}" %>
<% else %>
  <%= " COMPLETED as of: #{@auction.clean_datetime(@auction.end_time)}" %><br>
  <% if !@auction.all_auction_bids.empty? %>
    Winner: <%= link_to @auction.auction_winner.username, user_path(@auction.auction_winner) %>
  <% end %>
<% end %></h3>

<h3>Bid Amount: $<%= number_with_delimiter(@auction.top_bid) %></h3>
<br>

<h3>Bids Made: <%= @auction.count_bids %></h3>


<% if !@auction.all_auction_bids.empty? %>
  <table>
    <tr>
      <th>Bid Amount</th>
      <th>Buyer</th>
      <th>Time</th>
    </tr>
      <% @auction.all_auction_bids.reverse.each do |bid| %>
        <tr>
          <td><%= bid.amount %></td>
          <td><%= bid.buyer.username %></td>
          <td><%= bid.clean_bid_time %></td>
        </tr>
      <% end %>
  </table>
<% end %>
<br>
<br>

<h3>Car</h3>

<table>
  <tr>
    <th>Make and Model</th>
    <th>Color</th>
    <th>Year</th>
    <th>Mileage</th>
  </tr>
  <tr>
    <td><%= @car.display %></td>
    <td><%= @car.color %></td>
    <td><%= @car.year %></td>
    <td><%= number_with_delimiter(@car.mileage) %></td>
  </tr>
</table>


<h3><%= link_to "Seller: #{@auction.seller.username}", @auction.seller %></h3>

<% if logged_user == @auction.seller %>
  <h3><%= link_to "Edit auction information", edit_auction_path(@auction) %></h3>
<% end %>
<br><br><br>
<h3><%= link_to "End Auction  - (debug - for development only)", end_path %></h3>
