
<h1><%= @auction.title %></h1>

<h3>Price: $<%= number_with_delimiter(@auction.starting_bid) %></h3>

<p><%= @auction.description %></p>

<h3>Car information:</h3>

<ul>
  <li>Make: <%= @car.make %></li><br>
  <li>Model: <%= @car.model %></li><br>
  <li>Color: <%= @car.color %></li><br>
  <li>Year: <%= @car.year %></li><br>
  <li>Mileage: <%= @car.mileage %></li><br>
</ul><br>

<p>Seller: <%= link_to @auction.seller.username, @auction.seller %></p>
