
<h1><%= @auction.title %></h1>

<h3>Starting Bid: $<%= number_with_delimiter(@auction.starting_bid) %></h3>

<p><%= @auction.description %></p>

<h3>Car information:</h3>

<ul>
  <li>Make: <%= @car.make %></li><br>
  <li>Model: <%= @car.model %></li><br>
  <li>Color: <%= @car.color %></li><br>
  <li>Year: <%= @car.year %></li><br>
  <li>Mileage: <%= number_with_delimiter(@car.mileage) %></li><br>
</ul>

<h4><%= link_to "Place Bid", new_bid_path %></h4>

<p>Seller: <%= link_to @auction.seller.username, @auction.seller %></p>

<%= link_to "Edit auction information", edit_auction_path(@auction) %>
