
<h1><%= "#{@user.username}'s Auction History" %></h1>



<table>
  <tr>
    <th>Auction</th>
    <th>Make/Model</th>
    <th>Buyer/Seller</th>
    <th>Price</th>
    <th>End Date</th>
    <th>Transaction Page</th>
  </tr>
  <% @user.user_history.each do |i| %>
  <tr>
    <td><%= link_to i.title, auction_path(i) %></td>
    <td><%= i.car.display %></td>
    <% if @user.seller_auctions.include?(i) %>
      <td>Seller</td>
    <% else %>
      <td>Buyer</td>
    <% end %>
    <% if !i.all_auction_bids.empty? %>
      <td>$<%= number_with_delimiter(i.top_bid) %></td>
      <td><%= i.clean_datetime(i.end_time) %></td>
      <td><%= link_to "Details", auction_transaction_path(i) %></td>
    <% else %>
      <td><%= "No bids made" %></td>
      <td><%= i.clean_datetime(i.end_time) %></td>
      <td>-</td>
    <% end %>
  </tr>
  <% end %>
</table>
<br>
<aside>
  <h3><%= link_to "View Active Auctions", user_auctions_path %></h3>
</aside>
