<h1><%= "#{@user.username}'s Cars" %></h1>

<h3><%= link_to "Add Car to Garage", new_car_path %></h3>

<h4>Cars:</h4>

<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Color</th>
    <th>Year</th>
    <th>Mileage</th>
  </tr>
  <% @user.cars.each do |car| %>
  <tr>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= car.color %></td>
    <td><%= car.year %></td>
    <td><%= car.mileage %></td>
  </tr>
  <% end %>
</table>

<% @user.cars.each do |car| %>
    <% car.images.each do |image| %>
        <%= image_tag(rails_blob_path(image)) %>
    <% end %>
<% end %>
