<h1><%= "#{@user.username}'s Cars" %></h1>

<div class="less_flashy_button">
  <%= link_to "Add Car to Garage", new_car_path %>
</div>
<br><br>

<table>
  <tr>
    <th></th>
    <th>Make and Model</th>
    <th>Color</th>
    <th>Year</th>
    <th>Mileage</th>
  </tr>
  <% @user.cars.each do |car| %>
  <tr>
    <td><%= link_to (image_tag(car.avatar.variant(resize: "300x300"))), car_path(car) if car.avatar.attached? == true %></td>
    <td><%= car.display %></td>
    <td><%= car.color %></td>
    <td><%= car.year %></td>
    <td><%= number_with_delimiter(car.mileage) %></td>
  </tr>
  <% end %>
</table>
