
<h1><%= @user.username %>'s Feedback</h1>

<h2 class="listing_title">BucketScore: <%= @user.average_rating %></h2>

<table>
  <tr>
    <th>Rating</th>
    <th>Review</th>
    <th>User</th>
    <th>Date</th>
  </tr>
  <% @user.feedbacks.each do |i| %>
  <tr>
    <td><%= i.rating %></td>
    <td><%= i.content %></td>
    <td><%= link_to User.find(i.reviewer_id).username, User.find(i.reviewer_id) %></td>
    <td><%= i.display_time %></td>
  </tr>
  <% end %>
</table>
