<h1>User page:</h1>
<h4>User: <%= @user.username %></h4>

<%= form_tag user_path(@user), method:"DELETE" do %>
<%= submit_tag "Delete User" %>
<% end %>

<h3>Your Auctions:</h3>
<ul>
  <% @user.seller_auctions.each do |auction|%>
  <%= link_to "#{auction.car.make} #{auction.car.model}", auction_path(auction) %><br>
  <%= "Title: #{auction.title}" %><br>
  <%= "Description: #{auction.description}" %><br>
  <% end %>
</ul>



<h4><%= link_to "User Index", users_path %></h4>
<h4><%= link_to "My Cars", user_cars_path %></h4>
