<h1>~My Profile~</h1>
<h4>User: <%= @user.username %></h4><br>


<h3><%= link_to "My Cars", user_cars_path %></h3>

<h3><%= link_to "My Auctions", user_auctions_path %></h3>

<br>
---------------------------------
<h4>My Auction History: </h4>

<table>
  <tr>
    <th>Auction</th>
    <th>Make/Model</th>
    <th>Buyer/Seller</th>
    <th>Price</th>
    <th>Auction Status</th>
  </tr>
  <% @user.user_history.each do |i| %>
  <tr>
    <td><%= link_to i.title, auction_path(i) %></td>
    <td><%= i.car.make %>/<%= i.car.model %></td>
    <% if @user.seller_auctions.include?(i) %>
      <td>Seller</td>
    <% else %>
      <td>Buyer</td>
    <% end %>
    <td>$<%= number_with_delimiter(i.top_bid) %></td>
    <% if i.active %>
      <td><%= "Active (ends: #{i.clean_datetime(i.end_time)})" %></td>
    <% else %>
      <td>Completed (<%= i.clean_datetime(i.end_time) %>)</td>
    <% end %>
  </tr>
  <% end %>
</table>

<br><br>
<%= form_tag user_path(@user), method:"DELETE" do %>
<%= submit_tag "Delete User" %>
<% end %>
