<h1>User page:</h1>
<h4>User: <%= @user.username %></h4>

<h3>Active Auctions:</h3>

<h4>Buying: </h4>
  <ul>
  <% @user.active_buyer_auctions.each do |i| %>
    <%= link_to i.title, auction_path(i) %><br>
      * <%= "#{i.car.make} - #{i.car.model}" %>
  <% end %>
  </ul>

<h4>Selling: </h4>
<ul>
  <% @user.active_seller_auctions.each do |auction|%>
  <%= link_to auction.title, auction_path(auction) %><br>
    * <%= "#{auction.car.make} - #{auction.car.model}" %><br>
  <% end %>
</ul>

<h4><%= link_to "My Cars", user_cars_path %></h4>

<h4>My Auction History: </h4>

<table>
  <tr>
    <th>Auction</th>
    <th>Make/Model</th>
    <th>Buyer/Seller</th>
    <th>Price</th>
    <th>Auction Status</th>
  </tr>
  <% @user.user_history.each do |i| %>
  <tr>
    <td><%= link_to i.title, auction_path(i) %></td>
    <td><%= i.car.make %>/<%= i.car.model %></td>
    <% if @user.seller_auctions.include?(i) %>
      <td>Seller</td>
    <% else %>
      <td>Buyer</td>
    <% end %>
    <td><%= i.top_bid %></td>
    <% if i.active %>
      <td>Active (ends: )</td>
    <% else %>
      <td>Completed (<%= i.clean_datetime %>)</td>
    <% end %>
  </tr>
  <% end %>
</table>

<br><br>
<%= form_tag user_path(@user), method:"DELETE" do %>
<%= submit_tag "Delete User" %>
<% end %>
