<h1>~My Profile~</h1>
<h4>User: <%= @user.username %></h4><br>


<h3><%= link_to "My Cars", user_cars_path %></h3>

<h3><%= link_to "My Auctions", user_auctions_path %></h3>

<h3><%= link_to "My Feedback", user_feedbacks_path %></h3>

<h3><%= link_to "My Auction History", user_auction_histories_path %></h3>

<br><br>
<% if logged_user == @user %>
  <%= form_tag user_path(@user), method:"DELETE" do %>
  <%= submit_tag "Delete User" %>
  <% end %>
<% end %>
