<h1><%= "#{@user.username}'s Profile" %></h1>



<h3><%= link_to "#{@user.username}'s Cars", user_cars_path %></h3>

<h3><%= link_to "#{@user.username}'s Active Auctions", user_auctions_path %></h3>

<h3><%= link_to "#{@user.username}'s Feedback", user_feedbacks_path %></h3>

<h3><%= link_to "#{@user.username}'s Auction History", user_auction_histories_path %></h3>


<br><br>
<% if logged_user == @user %>
<%= button_to "Delete", @episode, method: :delete, data: { confirm: "Permanently erase your account?" } %>
<% end %>
