<% if @car.errors.any? %>
  <div class="error_explanation">
    <h2>
      <%= pluralize(@car.errors.count, "error") %>
      prohibited this car from being saved:
    </h2>

    <ul>
<% @car.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>

</div>
<% end %>
<%= @user.username %>
<%= form_for @car do |f| %><br>
<%= f.label :make %>
<%= f.text_field :make %><br>
<%= f.label :model %>
<%= f.text_field :model %><br>
<%= f.label :color %>
<%= f.text_field :color %><br>
<%= f.label :year %>
<%= f.text_field :year %><br>
<%= f.label :mileage %>
<%= f.text_field :mileage %><br>
<%= f.file_field :images, multiple: true %><br>

<%#  Main photo <input type="file" name='car[images][]'><br>
<%#  Photo <input type="file" name='car[images][]'><br>
<%#  Photo <input type="file" name='car[images][]'><br>
<%#  Photo <input type="file" name='car[images][]'><br>
<%#  Photo <input type="file" name='car[images][]'><br>%>
<%# "Main photo "<%= f.file_field :images[] %><br> %>
<%= f.hidden_field :user_id, :value => @user.id %>
<%= f.submit %>
<% end %>
