<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker|ZCOOL+QingKe+HuangYou|Boogaloo" rel="stylesheet">
  </head>

  <body>
    <div id="site_header">
      Bucketlist
    </div>
    <div id="nav_menu">
      <%= render 'shared/header_logged' if (logged_user) %>
      <%= render 'shared/header' if !(logged_user) %>
    </div>

    <div id="main_body">
      <%= yield %>
    </div>

    <div id="footer">
      &copy; Table 7 Productions
    </div>

  </body>
</html>
