<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 id="site_header">~ Bucketlist ~</h1>

    <%= render 'shared/header_logged' if (logged_user) %>
    <%= render 'shared/header' if !(logged_user) %>

    <%= yield %>
  </body>
</html>
