<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>~ Bucketlist ~</h1>
    <p><a href="/users/">Log in</a> - <a href="/listings/">Browse listings</a> - <a href="/listings/new">List car</a></p>
    ----------------------------------------------------------

    <%= yield %>
  </body>
</html>
