<!DOCTYPE html>
<html>
  <head>
    <title>Bucketlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 id="site_header">~ Bucketlist ~</h1>

    <p><a href="/login">Log in</a> - <a href="/auctions/">Browse auctions</a></p>
    ----------------------------------------------------------

    <%= yield %>
  </body>
</html>
